.refresher {
  position: absolute;
  left: 0;
  border: none;
  background-color: white;
  transition: 0.75s;
  font-size: 24px;
  cursor: pointer;
}

.refresher:hover {
  background-color: salmon;
}

.prev {
  position: absolute;
  left: 0;
  border: none;
  background-color: white;
  transition: 0.75s;
  font-size: 24px;
  cursor: pointer;
}

.prev:hover {
  background-color: salmon;
}

.prev {
  position: fixed;
}